/** @format */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding-left: 12.5%;
  padding-right: 12.5%;
  background-color: rgba(167, 159, 159, 0.993);
}

.B {
  background-color: bisque;
  height: 100vh;
  width: 100%;
  border: 5px solid black;
}

.C {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(133, 133, 199);
  border-radius: 5px;
  border: 5px solid black;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  width: 50%;
}
.textbox {
  display: block;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 4%;
  border-radius: 10px;
  background-color: yellow;
  height: 4vh;
  padding-left: 10px;
  font-size: 2vh;
}

.Sign {
  background-color: #04aa6d;
  display: block;
  margin: 0 auto;
  height: 4vh;
  font-size: 2vh;
  border-radius: 10px;
  width: 15vw;
}
